<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../../assets/elen_g_white.jpg">
      </div>
      <div>
        <em>
         Photo found in Wikipedia
         <a class="attribution-link" href="https://en.wikipedia.org/wiki/Ellen_G._White" target="blank">Unsplash</a>
        </em>
      </div>
    </div>
  </div>


  <div fxFlex>
    <h1 class="blue">The Great Controversy</h1>
    <p>
      The Great Controversy is a book that goes back in
      time to cover the origin of sin and to the future to cover
      the end of sin. Covering the war that going between good and bad.
       God and Satan. The book doesn’t shy away putting out lies of the enemy.
        Lies that were told in Heaven where he deceived one-third of the angels
        and down here, in the garden of Eden where he deceived Eve.
    </p>

  </div>
</div>


