<!--
 Title: contact.component.html
 Author: Professor Krasso
 Date: 31 October 2022
 Modified By: Manel Phiseme
 Description: Angular CLI -composer
-->

<div class="contact-container">

  <div class="row">
    <div class="col-sm-12">
      <h3 style="padding-left: 27%;">Welcome to the Contact Us page</h3>
    </div>
  </div>

  <br /><br />
  <div class="row contact-info">

    <div class="col-sm-6">

      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="bi bi-geo-alt-fill"></i></h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul>
            <li class="list-group-item border-0">33 Piano Learn St</li>
            <li class="list-group-item border-0">central, State 58137</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row contact">
        <div class="col-sm-12">
          <h1><i class="bi bi-telephone-inbound-fill"></i></h1>
          <h1><i class="fas fa-location-arrow text-secondary"></i></h1>
        </div>
      </div>
      <div>
        <div class="row contact">
          <div class="col-sm-12">
            <ul>
              <li class="list-group-item border-0">Direct: 111-111-111</li>
              <li class="list-group-item border-0">Toll Free: 1800-111-111</li>
              <li class="list-group-item border-0">Fax: 1800-111-111</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
