<div class="contact-container">

  <div class="row">
    <div class="col-sm-11">
      <h3 >Welcome to the Contact Us page</h3>
    </div>
  </div>

  <br /><br />
  <div class="row center-block">

    <div class="col-sm-4">
      <div class="row location">
        <div class="col-sm-12">

        </div>
      </div>

      <div class="row location" >
        <div class="col-sm-12" >
          <ul class="list-group" >
            <li class="list-group-item border-0">33 Piano Learn St</li>
            <li class="list-group-item border-0">central, State 58137</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-5" >
      <div class="col-sm-5">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="fas fa-phone text-secondary"></i></h1>
          </div>
        </div>

        <div class="row location" style="border-style: solid; font-size:medium">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item">Phone: (11)111-1111</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
