<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br/>
    <mat-card-content class="align-center">
      <p>100 Young Columbia Pike</p>
      <p>Silver Spring, Maryland</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br/>
    <mat-card-content class="align-center">
      <p>Direct: 111-111-1111</p>
      <p>Toll-free: 1-800-555-0000</p>
      <p>Fax: 190-900-0800</p>
    </mat-card-content>
  </div>
</div>
