<!--
 Title: contact.component.html
 Author: Professor Krasso
 Date: 31 October 2022
 Modified By: Manel Phiseme
 Description: Angular CLI -composer
-->

<div class="row center-block">
  <div class="col-sm-6">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Full Name</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody *ngFor="let composer of composers">
        <tr>
          <td>{{ composer.fullName }}</td>
          <td>{{composer.genre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
