<!--
 Title: about.component.html
 Author: Professor Krasso
 Date: 31 October 2022
 Modified By: Manel Phiseme
 Description: Angular CLI -composer
-->

<div class="comp-container">
  <div class="row" class="align-center" >
    <div class="col-sm-12 " >
      <h3 >Samuel Coleridge-Taylor</h3>
    </div>
  </div>
  <hr/>

  <div class="row composer-detail">
    <div class="col-sm-3">
      <figure class="pic-centered">
        <img src="../../assets/samuel_taylor.jpg" style="width:60%">
        <figcaption><a href="https://en.wikipedia.org/wiki/Samuel_Coleridge-Taylor">Wikipedia</a></figcaption>
      </figure>
    </div>
    <div class="col-sm-9" >
      <p>
        Samuel Coleridge-Taylor born in 1875 and died in 1912 was an English composer.
        He was also a conductor and political activist. He started learning to play violin
        at a young age by his father.  He studied at the Royal College of Music and started
        composing under the leadership of Charles Stanford. He was a progressive writer of his time. He composed piece s like African Suite, African Romances and Twenty-Four Negro Melodies. Despite the struggle he went through under racism he gains popularity.
        His Piece Hiawatha’s wedding feast caused him to go on three tours of the United States.
      </p>
    </div>
  </div>
</div>

